* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: #EA1F48;
    color: #FBFCFF;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #FBFCFF;
    background-color: #1D1A05;
}